html,
body
    height: 100%

body
    position: relative
    font-size: 14px
    font-family: 'DIN Pro', 'Arial', sans-serif
    -webkit-font-smoothing: antialiased

*, :before, :after
    margin: 0
    padding: 0
    box-sizing: border-box

svg 
    pointer-events: none

input,
textarea,
button
    outline: none
    border-radius: 0
    -webkit-appearance: none

fieldset
    border: none

h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: normal
    color: inherit

a
    color: inherit
    text-decoration: none

    &:hover,
    &:active,
    &:focus
        text-decoration: none

li
    list-style: none

.visually-hidden
    border: 0 !important
    clip: rect(0 0 0 0) !important
    width: 1px !important
    height: 1px !important
    margin: -1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important

.hidden-xs
    @media #{$mobile}
        display: none !important

.visible-xs
    display: none !important

    @media #{$mobile}
        display: block !important

.container
    width: 100%
    max-width: 1220px
    margin: 0 auto
    padding: 0 40px

    @media #{$mobile}
        padding: 0 20px


/* Наш стиль для невалидных полей */
//input:invalid
////    border-color: #900
////    background-color: #FDD
////
////input:focus:invalid
////    outline: none

/* Это стиль для сообщений об ошибке */
//.error
//    width  : 100%
//    padding: 0
//
//    font-size: 80%
//    color: white
//    background-color: #900
//    border-radius: 0 0 5px 5px
//
//    -moz-box-sizing: border-box
//    box-sizing: border-box
//
//.error.active
//    padding: 0.3em
