doctype html
html
    head
        meta(charset="utf-8")
        title Meandr-Test
        include _parts/_head
    body
        //- for svg
        include ../svg/symbols/svg-symbols.svg
        //- mixin
        include _mixin/_import

        section.intro
            .container
                .intro__content
                    h2.intro__title Ты готов стать профессионалом?
                    p.intro__subtitle Мы ищем <a href="#" class="intro__link">талантов</a> и <a href="#" class="intro__link">саппортов</a> в команду. Решите на какую категорию вы претендуете.
                    button(type='button').intro__button.button
                        +icon('plus')
                        span Заполнить анкету

        section.qualities
            .qualities__bg
            ul.qualities__list
                li.qualities__item
                    b.qualities__item-title Прокачиваем мир
                    p.qualities__item-text Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
                li.qualities__item
                    b.qualities__item-title Мотивируем себя
                    p.qualities__item-text У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?
                li.qualities__item
                    b.qualities__item-title Используем лучшее
                    p.qualities__item-text Вы способны применять разные подходы для достижения своих целей?
                li.qualities__item
                    b.qualities__item-title Относимся с пониманием
                    p.qualities__item-text Вы не обвиняете других в свои неудачах и способны воспринимать критику?

        section.similarity
            .container
                h2.similarity__title Мы похожи!
                .similarity__box
                    p
                        |Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный
                        |эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый
                        |опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
                        |соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры
                        |способствует подготовки и реализации форм развития.

                    p
                        |Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки
                        |и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных
                        |форм деятельности позволяет оценить значение соответствующий условий активизации. С другой
                        |стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные
                        |задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт
                        |укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития.
                        |Повседневная практика показывает, что консультация с широким активом представляет собой интересный
                        |эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный
                        |и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации
                        |соответствующий условий активизации.

        section.features
            .container
                h2.features__title Преимущества работы с нами
                ul.features__list
                    li.features__item
                        +icon('purse')
                        h3.features__item-title Делимся оптом и навыками
                        p.features__item-description Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
                    li.features__item
                        +icon('purse')
                        h3.features__item-title Стабильная зарплата
                        p.features__item-description Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
                    li.features__item
                        +icon('purse')
                        h3.features__item-title Гибкий график
                        p.features__item-description Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.

        section.candidate
            .container
                h2.candidate__title Теперь расскажите о себе
                form.candidate__form.form(action="" method="post" name="registration")
                    .form__row
                        span.form__row-number 1
                        .form__field
                            label.form__field-label Фамилия и имя
                            input.form__field-input(type='text' name='user-name' placeholder='Сидоров Александр' required)
                            span.form__field-message(aria-live="polite") Необходимо заполнить поле
                    .form__row
                        span.form__row-number 2
                        .form__field
                            label.form__field-label Электронная почта
                            //input.form__field-input(type='email' name='user-email' placeholder='Sidorov@yandex.ru' required pattern='^.+@.+$')
                            input.form__field-input.form__field-input--mail(type='email' name='user-email' placeholder='Sidorov@yandex.ru' required)
                            span.form__field-message(aria-live="polite") Необходимо заполнить поле
                    .form__row
                        span.form__row-number 3
                        .form__field
                            label.form__field-label Телефон
                            input.form__field-input.form__field-input--phone(type='phone' name='user-phone' placeholder='+7 (999)-328-14-20' required)
                            span.form__field-message(aria-live="polite") Необходимо заполнить поле
                    .form__row.form__row--last
                        span.form__row-number 4
                        .form__field
                            label.form__field-label  Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?
                            textarea.form__field-textarea(name='user-description' placeholder='Свой проект по созданию универсальной инфраструктуры строительства')
                    .form__errors
                    button.form__button(type='submit') Отправить
                .candidate__form-success
                    p.form-success__text Данные отправлены, спасибо, что нашли время для нас!


        include _parts/_scripts