meta(content="width=device-width, maximum-scale=1" name="viewport")
link(rel="stylesheet" href="css/main.css" type='text/css')

script.
	(screen.width >= 768 && screen.width <= 1200) ? document.getElementsByName('viewport')[0].setAttribute('content', 'width=1200, maximum-scale=1'): ''