.candidate
  background-color: #161616
  padding: 100px 0 120px 0

  @media #{$mobile}
    padding: 40px 0

  &__title
    font-size: 40px
    line-height: 52px
    text-align: center
    letter-spacing: -0.02em
    color: #FFFFFF
    margin: 0 0 60px 0

    @media #{$mobile}
      font-size: 20px
      line-height: 24px
      margin: 0 0 30px 0

  &__form-success
    display: none