.button
	height: 52px
	line-height: normal
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0
	text-transform: uppercase
	cursor: pointer
	background: transparent
	border: none
	position: relative
	text-decoration: none
	user-select: none
 	transition: .4s cubic-bezier(.165,.84,.44,1)

	span
		font-family: 'Gilroy', 'Arial', sans-serif
		font-weight: 700
		font-size: 16px
		line-height: 20px
		letter-spacing: 0.02em
		text-transform: uppercase
		color: #222222

	&:after
		position: absolute
		content: ''
		top: -1px
		left: -18px
		width: 54px
		height: 54px
		border-top-left-radius: 30px
		border-bottom-left-radius: 30px
		border-top-right-radius: 30px
		border-bottom-right-radius: 30px
		background-color: #f9f9f9
		transform-origin: left
		transition: width 0.25s ease
		z-index: -1
		transform: scale(0.95)

	&:hover::after
		width: calc(100% + 60px)

	&:focus
		outline: -webkit-focus-ring-color auto 3px

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected
	background-color: transparent!important

input::-webkit-contacts-auto-fill-button
	visibility: hidden
	pointer-events: none
	position: absolute
	right: 0

input::-ms-clear
	width: 0
	height: 0


