.features
  background-color: #F7F5FA
  padding: 120px 0 160px 0

  @media #{$mobile}
    padding: 30px 0

  .container
    max-width: 1250px

  &__title
    font-size: 40px
    line-height: 50px
    text-align: center
    letter-spacing: -0.02em
    color: #000000
    margin: 0 0 60px 0

    @media #{$mobile}
      font-size: 20px
      line-height: 24px
      margin: 0 0 30px 0

  &__list
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    width: 100%

  &__item
    width: 33.333333%
    max-width: 375px
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    align-content: stretch
    justify-content: flex-start

    @media #{$tablet}
      width: 32.333333%
      max-width: 315px

    @media #{$mobile}
      width: 100%
      margin: 0 0 30px 0

    .icon-purse
      fill: #F47821
      margin: 0 0 30px 0

      @media #{$mobile}
        margin: 0 0 15px
        width: 30px
        height: 30px

    &:last-child
      margin: 0

  &__item-title
    font-weight: 600
    font-size: 20px
    line-height: 25px
    color: #000000
    padding: 0 0 22px 0
    margin: 0 0 25px 0
    position: relative

    @media #{$mobile}
      font-size: 16px
      line-height: 22px
      padding: 0 0 15px
      margin: 0 0 15px

    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 24px
      height: 2px
      background-color: #F47821

  &__item-description
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 26px
    color: #4E4D53
    max-width: 100%

    @media #{$tablet}
      padding: 0 20px 0 0

    @media #{$mobile}
      font-size: 14px