@import "../mixins/placeholder"

.form
  padding: 0
  max-width: 750px
  margin: 0 auto

  &__row
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: flex-start
    margin: 0 0 50px 0

    &--last
      margin-bottom: 0

  &__row-number
    width: 64px
    height: 64px
    border-radius: 50%
    border: 1px solid rgba(255, 255, 255, 0.2)
    color: #F47821
    font-size: 20px
    line-height: 62px
    text-align: center
    margin: 0 26px 0 0

    @media #{$mobile}
      margin: 0 10px 0 0
      width: 32px
      height: 32px
      line-height: 30px
      font-size: 14px

  &__field
    width: calc(100% - 92px)

    @media #{$mobile}
      width: calc(100% - 45px)

  &__field-label
    font-size: 16px
    line-height: 25px
    letter-spacing: -0.01em
    color: #FFFFFF
    display: block
    margin: 0 0 15px 0
    padding: 22px 0 0 0

    @media #{$mobile}
      margin: 0 0 10px

  &__field-input
    background-color: transparent
    border: none
    border-bottom: 2px solid rgba(247, 248, 250, 0.11)
    width: 100%
    height: 57px
    color: #fff
    @include placeholder(rgba(255, 255, 255, 0.2), 20px)

    &:focus
      background-color: transparent

    @media #{$mobile}
      height: 45px
      @include placeholder(rgba(255, 255, 255, 0.2), 12px)

  &__field-textarea
    background-color: transparent
    border: none
    border-bottom: 2px solid rgba(247, 248, 250, 0.11)
    width: 100%
    height: 91px
    max-width: 100%
    color: #fff
    @include placeholder(rgba(255, 255, 255, 0.2), 20px)

    @media #{$mobile}
      height: auto
      padding: 10px 0
      @include placeholder(rgba(255, 255, 255, 0.2), 12px)

    &-message
      display: none

      &.error
        display: block
        color: red

  &__errors
    color: tomato
    margin: 20px 0 0 92px

  &__button
    margin: 50px auto 0
    border: none
    background-color: #fff
    color: #f47821
    text-transform: uppercase
    letter-spacing: .04em
    font-size: 14px
    font-weight: 600
    line-height: 17px
    padding: 20px 0 18px
    box-shadow: 0 4px 8px rgba(0, 0, 0, .12)
    border-radius: 111px
    height: 54px
    cursor: pointer
    width: calc(100% - 180px)
    display: block

    &:hover
      background-color: #dedede

    @media #{$mobile}
      margin: 0 0 0 32px
      width: calc(100% - 32px)