.intro
  padding: 165px 0 126px 0

  @media #{$mobile}
    padding: 60px 0

  &__content
    text-align: center
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: flex-start

  &__title
    font-size: 48px
    line-height: 54px
    letter-spacing: -0.02em
    color: #222222
    margin: 0 0 25px 0

    @media #{$mobile}
      font-size: 32px
      line-height: 36px
      margin: 0 0 20px 0

  &__subtitle
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 26px
    text-align: center
    color: #4A4556
    margin: 0 0 30px 0

    @media #{$mobile}
      margin: 0 0 20px

  &__link
    color: #F47821

  &__button
     > .icon-plus
          margin: 0 12px 0 0
          fill: #F47821