.qualities
  background-color: #F7F5FA
  padding: 0 0 80px 0

  @media #{$mobile}
    padding: 0 0 40px

  &__bg
    background-image: url('../images/tmp/bg-qualities.jpg')
    height: 600px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

    @media #{$mobile}
      height: 300px

  &__list
    width: 970px
    margin: -100px auto 0
    display: flex
    flex-flow: row wrap
    align-items: flex-start
    align-content: stretch
    justify-content: flex-start

    @media #{$tablet}
      width: 95%

    @media #{$mobile}
      width: 100%
      margin: -40px auto 0

  &__item
    background-color: #fff
    width: 50%
    padding: 50px 59px 58px
    border: 1px solid #EDEDED
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: flex-start

    @media #{$tablet}
      padding: 25px 26px 26px

    @media #{$mobile}
      width: 90%
      margin: 0 auto
      padding: 20px

  &__item-title
    font-size: 12px
    line-height: 17px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #F47821
    margin: 3px 0 12px 0

  &__item-text
    font-size: 24px
    line-height: 30px
    letter-spacing: -0.03em
    color: #222222
    max-width: 100%

    @media #{$tablet}
      font-size: 17px
      line-height: 24px

    @media #{$mobile}
      font-size: 14px
      line-height: 24px