.similarity
  padding: 80px 0 107px

  @media #{$mobile}
    padding: 30px 0

  & > .container
    max-width: 854px

  &__title
    font-size: 48px
    line-height: 60px
    text-align: left
    letter-spacing: -0.02em
    color: #222222
    margin: 0 0 25px 0

    @media #{$mobile}
      font-size: 20px
      line-height: 24px
      margin: 0 0 30px 0

  &__box

    p
      font-family: 'Roboto', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 26px
      color: #4E4D53
      margin: 0 0 28px

      &:last-child
        margin: 0

      @media #{$mobile}
        font-size: 12px
        line-height: 24px